.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.wrapper button{
    padding: 10px 20px;
    background: #614101;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.wrapper button:hover{
    background: #b77a00;
}


.accordian{
    max-width: 500px ;
}
.item{
    background-color: #614101;
    padding: 10px 20px;
    margin-bottom: 10px;
}
.title{
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.content{
    color: #ffffff;
    height: auto;
}